mixin courseEntryPanel(courseName, FOS, courseNum, units, detailArr, id)
	- courseName = courseName || ""
	- FOS = FOS || ""
	- courseNum = courseNum || ""
	- units = units || ""
	- detailArr = detailArr || [{crn:"", dayTimes:[{}]}]
	- id = id || 1

	.panel.panel-default(style="margin-bottom:5px;")
		.panel-heading
			h1(id="course"+id).panel-title.pull-left #{courseName}
			br
			hr(id="hr"+id style="width:100%; border-top:1px solid #FFFFFF;")
			form.form-inline.pull-left.course-control(role="form", autocomplete="off")
				.entry.form-group.course-control
					| Name
					label(style="color:red;") *
					| :
					input#name1.form-control.name(name="fields[]", type="text", placeholder="Enter Course Name",
					value=courseName)
					| Field of Study:
					input.form-control.fos(name="fields[]", type="text", placeholder="ex. CMSC",
					style="text-transform: uppercase", maxlength="4", value=FOS)
					| Course Number:
					input.form-control.cn(name="fields[]", type="text", placeholder="ex. 101", maxlength="3",
					value=courseNum)
					| Number of Units:
					input.form-control.units(name="fields[]", type="text", placeholder="ex. 1", maxlength="3",
					value=units)
			button.btn.btn-success.btn-add.pull-right.btn-add-course(type="button")
				span.glyphicon.glyphicon-plus
			button.btn.btn-danger.btn-remove.pull-right(type="button")
				span.glyphicon.glyphicon-minus
			.clearfix
		.panel-body
			h3 Enter Section Details
			each val, sectionID in detailArr
				+courseDetailPanel(id, sectionID+1, val.crn, val.dayTimes)

mixin courseDetailPanel(courseID, sectionID, crn, dayTimes)
	.col-md-4
		.panel.panel-default
			.panel-heading
				h1(id="course"+courseID).panel-title.pull-left.new-course Section #{sectionID}
				button.btn.btn-success.btn-add.pull-right.btn-add-section.glyphicon.glyphicon-plus(type="button", style="line-height: 1!important;")
				button.btn.btn-danger.btn-remove-section.pull-right(type="button", style="line-height: 1!important;")
					span.glyphicon.glyphicon-minus
				.clearfix
			.panel-body
				form.form.section-control(role="form", autocomplete="off")
					input.form-control.crn(type="text", placeholder="CRN Number", style="margin:1px;", value=crn)
					each dayData in dayTimes
						+courseTimePanel(dayData.day, dayData.fromTime, dayData.toTime)

mixin courseTimePanel(day, fromTime, toTime)
	div
		.row.col-md-12.input-group(style="margin:1px;")
			select.form-control.day
				+optionSelection("Monday", day)
				+optionSelection("Tuesday", day)
				+optionSelection("Wednesday", day)
				+optionSelection("Thursday", day)
				+optionSelection("Friday", day)
				+optionSelection("Saturday", day)
				+optionSelection("Sunday", day)
			span.input-group-btn
				button.btn.btn-danger.btn-remove-time.glyphicon.glyphicon-minus(type="button", style="line-height: 1!important;")
				button.btn.btn-success.btn-add.btn-add-time.glyphicon.glyphicon-plus(type="button", style="line-height: 1!important;")
		.row.col-md-12
			.col-md-6.bootstrap-timepicker.timepicker
				label.control-label From:
				input#timepicker1.form-control.input-small.from.time(type="text", value=fromTime)
				span.input-group-addon
					i.glyphicon.glyphicon-time
			.col-md-6.bootstrap-timepicker.timepicker
				label.control-label To:
				input#timepicker2.form-control.input-small.to.time(type="text", value=toTime)
				span.input-group-addon
					i.glyphicon.glyphicon-time

mixin optionSelection(name, val)
	if name === val
		option(selected="selected") #{name}
	else
		option #{name}
